{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarthWeather</title>
    <link rel="icon" href="icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tiempoHoy.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/tiempoHoy.js' %}"></script>
</head>
<body>
    <header>
        <h1>EarthWeather</h1>
    </header>
    <div id="search-bar" class="input-field">
        <input type="text" id="search-input" class="validate center-align" placeholder="Ingrese el nombre de una Ciudad para obtener los reportes del clima">
    </div>        
    <div class="search-button">
        <button class="btn waves-effect waves-light btn-search" type="submit">Buscar</button>
        <button class="btn waves-effect waves-light btn-location" type="submit">Ubicación Actual</button>
    </div>
    <div id="weather-container">
        <div class="mdc-card mdc-card--outlined">
            <div class="mdc-card__content">
                <p id="current-weather-label" style="font-weight: bold; font-size: 1.2rem; color: #F9AA33;">EL TIEMPO AHORA</p>
                <i class="material-icons" id="temperature-icon" style="font-size: 3rem;"></i>
                <p id="temperature-info">Obteniendo datos...</p>
                <p id="weather-description"><i class="material-icons">wb_sunny</i> <span id="weather-description-text">Descripción del clima: </span></p>
                <p id="humidity"><i class="material-icons">opacity</i> <span id="humidity-text">Humedad: </span></p>
                <p id="wind-speed"><i class="material-icons">near_me</i> <span id="wind-speed-text">Velocidad del viento: </span></p>
                <p id="cloudiness"><i class="material-icons">cloud</i> <span id="cloudiness-text">Nubosidad: </span></p>
                <p id="pressure"><i class="material-icons">trending_up</i> <span id="pressure-text">Presión atmosférica: </span></p>
            </div>
        </div>
    </div>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">john.doe@example.com</span></a>
            </div>
        </li>
        <li><a href="#" id="today-link">Hoy</a></li>
        <li><a href="#" id="hourly-link">Cada Hora</a></li>
        <li><a href="#" id="weekly-link">Próximos 5 Días</a></li>
        <li><a href="#" id="logout-link">Cerrar Sesión</a></li>
    </ul>
    <header>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons" style="font-size: 3rem;">menu</i></a>
    </header>
</body>
</html>