<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icono.ico" type="image/x-icon">
    <title>EarthWeather</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="tiempoHora.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
    <script src="tiempoHora.js"></script>
</head>
<body>
    <header>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <h1>EarthWeather</h1>
    </header>
    <div id="search-bar" class="input-field">
        <input type="text" id="search-input" class="validate center-align" placeholder="Ingrese el nombre de una Ciudad para obtener los reportes del clima">
    </div>    
    <div class="search-button">
        <button class="btn waves-effect waves-light btn-search" type="submit">Buscar</button>
        <button class="btn waves-effect waves-light btn-location" type="submit">Ubicación</button>
    </div>
    
    <!-- Cards de Material Design -->
    <div class="mdc-card mdc-card--outlined">
        <div class="mdc-card__content">
            <!-- Contenido de la primera carta -->
        </div>
    </div>
    
    <div class="mdc-card mdc-card--outlined">
        <div class="mdc-card__content">
            <!-- Contenido de la segunda carta -->
        </div>
    </div>
    
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">john.doe@example.com</span></a>
            </div>
        </li>
        <li><a href="#!">Hoy</a></li>
        <li><a href="#!">Cada Hora</a></li>
        <li><a href="#!">Próximos 7 Días</a></li>
        <li><a href="#!">Cerrar Sesión</a></li>
    </ul>
</body>
</html>